<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PerfectMatch</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="/">PerfectMatch</a></div>
            <div class="nav-links">
                <a href="/resume-optimiser">Resume Optimiser</a>
                <a href="/jd-analysis">JD Analysis</a>
            </div>
        </nav>
    </header>
    <section class="main-content">
        <div class="info-section">
            <h1>Welcome to PerfectMatch</h1>
            <p>PerfectMatch helps you optimize your resume effectively to match job descriptions, increasing your chances of landing your dream job.</p>
            <img src="../static/images/home_content.jpeg" alt="Example Image">
            <div class="buttons">
                <a href="/resume-optimiser" class="button">Go to Resume Optimiser</a>
                <a href="/jd-analysis" class="button">Go to JD Analysis</a>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <p>Designed by Dhrumil Ankola</p>
            <a href="https://linkedin.com/in/yourlinkedin">LinkedIn</a>
            <p>&copy; 2024 Dhrumil Ankola. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
