{% extends 'base.html' %}

{% block title %}Home - PerfectMatch CV{% endblock %}

{% block content %}
<section class="main-content">
    <div class="info-section">
        <h1>Welcome to PerfectMatch</h1>
        <p>PerfectMatch helps you optimize your resume effectively to match job descriptions, increasing your chances of landing your dream job.</p>
        {% load static %}
        <img src="{% static 'images/home_content.jpeg' %}" alt="Example Image" class="responsive-img">
        <div class="buttons">
            <a href="/resume-optimiser" class="button">Go to Resume Optimiser</a>
            <a href="/jd-analysis" class="button">Go to JD Analysis</a>
            <a href="/cover_letter" class="button"> Cover Letter Generator </a>
            <a href="/chatbot" class="button"> Ask Questions </a>

        </div>
    </div>
</section>
{% endblock %}
