{% extends 'base.html' %}

{% block title %}JD Analysis - PerfectMatch CV{% endblock %}

{% block content %}
<section class="main-content">
    <div class="info-section">
        <h1 class="card-title text-center">Find out Important Keywords and Skillset required!</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-container">
                <div class="form-group">
                    <label for="input">Paste the job description you want to analyze:</label>
                    <textarea id="input" name="input" rows="4" class="centered-textarea">{% if input %}{{ input }}{% endif %}</textarea>
                </div>
                <div class="buttons tailor-button">
                    <button type="submit" class="button">Analyze it!</button>
                </div>
            </div>
        </form>
        {% if response %}
            <div class="response-container centered-container">
                <div class="response markdown">
                    {{ response|safe }}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
