{% extends 'base.html' %}

{% block title %}Resume Optimiser - PerfectMatch CV{% endblock %}

{% block content %}
<section class="main-content">
    <div class="info-section">
        <h1 class="card-title text-center"> Paste the content you want to optimise! </h1>
        <form method="post">
            {% csrf_token %}
            <div class="role-selectors">
                <label class="role-button">
                    <input type="radio" name="role" value="SDE" />
                    <span>SDE</span>
                </label>
                <label class="role-button">
                    <input type="radio" name="role" value="Data Science" />
                    <span>Data Science</span>
                </label>
                <label class="role-button">
                    <input type="radio" name="role" value="Machine Learning/AI" />
                    <span>Machine Learning/AI</span>
                </label>
                <label class="role-button">
                    <input type="radio" name="role" value="Other" />
                    <span>Other</span>
                </label>
            </div>
            <div class="input-container">
                <div class="form-group">
                    <textarea id="input" name="input" rows="4" class="centered-textarea">{% if input %}{{ input }}{% endif %}</textarea>
                </div>
                <div class="buttons tailor-button">
                    <button type="submit" class="button">Tailor it!</button>
                </div>
            </div>
        </form>
        {% if response %}
            <div class="response-container centered-container">
                <div class="response markdown">
                    {{ response|safe }}
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
