{% extends 'base.html' %}

{% block title %}Resume Optimiser - PerfectMatch CV{% endblock %}

{% block content %}
<section class="main-content">
    <div class="info-section">
        <h1 class="card-title text-center"> Paste the content you want to optimise! </h1>
        <form id="optimise-form" method="post">
            {% csrf_token %}
            <div class="role-selectors">
                <label class="role-button">
                    <input type="radio" name="role" value="SDE" />
                    <span>SDE</span>
                </label>
                <label class="role-button">
                    <input type="radio" name="role" value="Data Science" />
                    <span>Data Science</span>
                </label>
                <label class="role-button">
                    <input type="radio" name="role" value="Machine Learning/AI" />
                    <span>Machine Learning/AI</span>
                </label>
                <label class="role-button">
                    <input type="radio" name="role" value="Other" />
                    <span>Other</span>
                </label>
            </div>
            <div class="input-container">
                <div class="form-group">
                    <textarea id="input" name="input" rows="4" class="centered-textarea"></textarea>
                </div>
                <div class="buttons tailor-button">
                    <button type="submit" class="button">Tailor it!</button>
                </div>
            </div>
        </form>
        <div id="response-container" class="response-container centered-container" style="display: none;">
            <div id="response" class="response markdown"></div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $('#optimise-form').on('submit', function(event){
        event.preventDefault();  // Prevent the default form submission

        // Serialize the form data
        var formData = $(this).serialize();

        // Send the data using AJAX
        $.ajax({
            type: 'POST',
            url: '{% url "resume_optimiser" %}',  // Update with the correct URL
            data: formData,
            success: function(response){
                $('#response-container').show();
                $('#response').html(response.response);
            },
            error: function(){
                alert('An error occurred. Please try again.');
            }
        });
    });
});
</script>
{% endblock %}
